.header{
  font-size: clamp(32px, 15vw, 120px);
  margin: 0;
  text-align: center;
}

.why2{
  position: relative;
  font-size: clamp(20px, 6vw, 48px);
  margin: 0;
  text-align: center;
}

.p{
  display: flex;
  justify-content: center;
  text-align: center;
}
