/* Visual style for the spins counter value */
.spins-counter {
  display: flex;
  position: fixed;
  z-index: 9999;
  opacity: 0.5;
  font-size: clamp(60px, 6vw, 100px);
  padding: 0;
  margin: 4px 0 0 0;
  margin-bottom: 1rem;
  bottom: 0.5rem;
  left: 1rem;
}



.spin{
  width: clamp(30px, 1vw, 100px);
  height: clamp(30px, 1vw, 100px);
}
